<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Amarante&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />

    <title>Melting Pot</title>
  </head>
  <body class="container">
    <header class="header">
      <img src="/img/logo.png" alt="Melting Pot Logo" class="header__logo" />

      <nav class="main-nav">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a href="/" class="main-nav__link">
              <svg class="main-nav__icon">
                <use xlink:href="/img/sprite.svg#icon-home"></use>
              </svg>
              Home
            </a>
          </li>
          <li class="main-nav__item">
            <a href="/about" class="main-nav__link">
              <svg class="main-nav__icon">
                <use xlink:href="/img/sprite.svg#icon-info-with-circle"></use>
              </svg>
              About
            </a>
          </li>
          <% if(!currentUser){ %>
          <li class="main-nav__item">
            <a href="/login" class="main-nav__link">
              <svg class="main-nav__icon">
                <use xlink:href="/img/sprite.svg#icon-login"></use>
              </svg>
              Log in
            </a>
          </li>
          <li class="main-nav__item">
            <a href="/register" class="main-nav__link">
              <svg class="main-nav__icon">
                <use xlink:href="/img/sprite.svg#icon-add-user"></use>
              </svg>
              Sign up
            </a>
          </li>
          <% } else { %>
          <li class="main-nav__item">
            <a href="/<%= currentUser._id %>" class="main-nav__link">
              <svg class="main-nav__icon">
                <use xlink:href="/img/sprite.svg#icon-user"></use>
              </svg>
              <%= currentUser.username %>
            </a>
          </li>
          <li class="main-nav__item">
            <a href="/logout" class="main-nav__link">
              <svg class="main-nav__icon">
                <use xlink:href="/img/sprite.svg#icon-login"></use>
              </svg>
              Log out
            </a>
          </li>
          <% } %>
        </ul>
      </nav>

      <button class="mobile-nav__btn" onclick="toggleNav()">
        <span class="mobile-nav__btn-line"></span>
        <span class="mobile-nav__btn-line"></span>
        <span class="mobile-nav__btn-line"></span>
      </button>

      <nav class="mobile-nav hidden">
        <ul class="mobile-nav__list">
          <li class="mobile-nav__item">
            <a href="/" class="mobile-nav__link">
              <svg class="mobile-nav__icon">
                <use xlink:href="/img/sprite.svg#icon-home"></use>
              </svg>
              Home
            </a>
          </li>
          <li class="mobile-nav__item">
            <a href="/about" class="mobile-nav__link">
              <svg class="mobile-nav__icon">
                <use xlink:href="/img/sprite.svg#icon-info-with-circle"></use>
              </svg>
              About
            </a>
          </li>
          <% if(!currentUser){ %>
          <li class="mobile-nav__item">
            <a href="/login" class="mobile-nav__link">
              <svg class="mobile-nav__icon">
                <use xlink:href="/img/sprite.svg#icon-login"></use>
              </svg>
              Log in
            </a>
          </li>
          <li class="mobile-nav__item">
            <a href="/register" class="mobile-nav__link">
              <svg class="mobile-nav__icon">
                <use xlink:href="/img/sprite.svg#icon-add-user"></use>
              </svg>
              Sign up
            </a>
          </li>
          <% } else { %>
          <li class="mobile-nav__item">
            <a href="/<%= currentUser._id %>" class="mobile-nav__link">
              <svg class="mobile-nav__icon">
                <use xlink:href="/img/sprite.svg#icon-user"></use>
              </svg>
              <%= currentUser.username %>
            </a>
          </li>
          <li class="mobile-nav__item">
            <a href="/logout" class="mobile-nav__link">
              <svg class="mobile-nav__icon">
                <use xlink:href="/img/sprite.svg#icon-login"></use>
              </svg>
              Log out
            </a>
          </li>
          <% } %>
        </ul>
      </nav>
    </header>
    <div class="alert__container">
      <script type="text/javascript">
        window.setTimeout(
          "document.querySelector('.alert').style.display='none';",
          5000
        );
      </script>
      <% if(error && error.length > 0){ %>
      <div class="alert alert__error" role="alert"><%= error %></div>
      <% } %> <% if(success && success.length > 0){ %>
      <div class="alert alert__success" role="alert"><%= success %></div>
      <% } %>
    </div>
  </body>
</html>
